.panel {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.pass {
  grid-column: 1 / -1;
}

