.menu {
  width: 100%;
  border: 2px dotted #666;
  min-height: 3em;

  display: flex;

  & button {
    margin: 0.4em 2em;

    background: rgba($color: #1fa767, $alpha: 1.0);
  }

  & .mat-icon {
    margin-left: 0;
    margin-right: 0;
  }
}
