<!-- <div class="board">
  <div class="zone center"
       cdkDropList
       id="center"
       [cdkDropListData]="center"
       [cdkDropListConnectedTo]="['stack']"
       (cdkDropListDropped)="drop($event)">
    <div *ngFor="let card of center" cdkDrag class="card">{{ card }}</div>
  </div>

  <div class="zone stack"
       cdkDropList
       id="stack"
       [cdkDropListData]="stack"
       [cdkDropListConnectedTo]="['center']"
       (cdkDropListDropped)="drop($event)">
    <div *ngFor="let card of stack" cdkDrag class="card">{{ card }}</div>
  </div>
</div> -->
