.container {
            display: grid;
            grid-template-areas:
                "top top top"
                "left center right"
                "bottom bottom bottom";
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 3fr 1fr;
            height: 100vh;
            gap: 0;
        }

        .top {
            grid-area: top;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px dotted #4a86e8;

            transform: rotate(180deg);
        }

        .left {
            grid-area: left;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px dotted #6aa84f;

            transform: rotate(90deg);
        }

        .center {
            grid-area: center;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px dotted #e69138;
        }

        .right {
            grid-area: right;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px dotted #cc0000;

            transform: rotate(270deg);
        }

        .bottom {
            grid-area: bottom;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px dotted #674ea7;
        }

        @media (max-width: 768px) {
            .container {
                grid-template-areas:
                    "top"
                    "left"
                    "center"
                    "right"
                    "bottom";
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
            }
        }

.card-row {
  display:flex;
  margin: auto;
  gap:2px;
  padding:4px;
}

.card{
  width:55px;
  height:90px;
  border:1px solid #333;
  border-radius:4px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  font-weight:bold;
  font-size:16px;
  cursor:pointer;
  box-shadow:2px 2px 5px rgba(0,0,0,.25);
  background: white;
}

.suit{
  font-size:22px;
  line-height:1;
}

.♥, .♦{ color:red; }

.card-bg {
  background: radial-gradient(circle,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 35%, rgba(237, 221, 83, 1) 100%);
}
