<div class="board">
  <div
    class="zone to-center"
    cdkDropList
    id="userA"
    [cdkDropListData]="userC"
    [cdkDropListConnectedTo]="['center']"
    (cdkDropListDropped)="dropCard($event)"
  >
    <div class="card-row">
      @for (card of userA; track $index) {
      <div class="card {{ card.suit }}" cdkDrag>
        <div class="corner top-left">
        <div class="value">{{ card.value }}</div>
        <div class="suit">{{ card.suit }}</div>
      </div>
      </div>
      }
    </div>
  </div>
  <div
    class="zone left-center"
    cdkDropList
    id="userB"
    [cdkDropListData]="userB"
    [cdkDropListConnectedTo]="['center']"
    (cdkDropListDropped)="dropCard($event)"
  >
<div class="card-row">
      @for (card of userB; track $index) {
      <div class="card {{ card.suit }}" cdkDrag>
        <div class="corner top-left">
        <div class="value">{{ card.value }}</div>
        <div class="suit">{{ card.suit }}</div>
      </div>
      </div>
      }
    </div>
</div>
  <div
    class="zone center"
    cdkDropList
    id="center"
    [cdkDropListData]="centerCards"
    [cdkDropListConnectedTo]="['userA','userB','userC','userD']"
    (cdkDropListDropped)="dropCard($event)"
  >
  <div class="card-row">
      @for (card of centerCards; track $index) {
      <div class="card {{ card.suit }}" cdkDrag>
<div class="corner top-left">
        <div class="value">{{ card.value }}</div>
        <div class="suit">{{ card.suit }}</div>
      </div>
      </div>
      }
    </div>
</div>
  <div
    class="zone right-center"
    cdkDropList
    id="userC"
    [cdkDropListData]="userC"
    [cdkDropListConnectedTo]="['center']"
    (cdkDropListDropped)="dropCard($event)"
  >
<div class="card-row">
      @for (card of userC; track $index) {
      <div class="card {{ card.suit }}" cdkDrag>
        <div class="corner top-left">
        <div class="value">{{ card.value }}</div>
        <div class="suit">{{ card.suit }}</div>
      </div>
      </div>
      }
    </div>
</div>
  <div
    class="zone bottom-center"
    cdkDropList
    id="userD"
    [cdkDropListData]="userD"
    [cdkDropListConnectedTo]="['center']"
    (cdkDropListDropped)="dropCard($event)"
  >
<div class="card-row">
      @for (card of userD; track $index) {
      <div class="card {{ card.suit }}" cdkDrag>
        <div class="corner top-left">
        <div class="value">{{ card.value }}</div>
        <div class="suit">{{ card.suit }}</div>
      </div>
      </div>
      }
    </div>
</div>
</div>
