.num-pad {
  display: flex;
  gap: 1em;

}

.col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
}

.mat-mdc-dialog-content {
  margin: 2.7em;
}

.mdc-button {
  box-shadow: 0 5px 5px rgba($color: #1fa767, $alpha: .75);
  color: #1fa767;
}
